
@page "/about"

@using SimpleUi.Data

<table class="table">
	<thead>
		<tr>
			<th>Passwords</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Github: <a href="https://github.com/nikolausm/Passwords">https://github.com/nikolausm/Passwords</a></td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td>
				Brought you by <a href="https://www.minicon.eu">Minicon eG</a> - Mehr als nur Softwareentwicklung.
			</td>
		</tr>
	</tfoot>
</table>