@inject IJSRuntime JSRuntime

<div class="form-inline">
	<input class="form-control col-12 text-center pointer" readonly type="text" value="@Text" @onclick="CopyTextToClipboard" />
</div>

@code {
	[Parameter] public string Text { get; set; }

	private async Task CopyTextToClipboard()
	{
		await JSRuntime.InvokeVoidAsync("copyToClipboard", Text);
	}
}