@inject IJSRuntime JSRuntime

<div class="form-inline">
	<input class="form-control col-8 " readonly type="text" value="@Text" />
	<button type="button" class="btn btn-primary col-4 " @onclick="CopyTextToClipboard">Copy</button>
</div>

@code {
	[Parameter] public string Text { get; set; }

	private async Task CopyTextToClipboard()
	{
		await JSRuntime.InvokeVoidAsync("clipboardCopy.copyText", Text);
	}
}