
@page "/passwordslist"

@using SimpleUi.Data

@inject PasswordService PasswordService


@if (_passwords == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Passwords</th>
			</tr>
		</thead>
		<tbody>

			@foreach (var password in _passwords)
			{
				<tr>
					<td><CopyToClipboard Text="@password"></CopyToClipboard></td>
				</tr>
			}
		</tbody>
		<tfoot>
			<tr>
				<td>
					<center>
						<button type="button" class="btn btn-primary@(_reloadButtonDisabled ? " disabled" : "")" @onclick="ReloadAsync">New</button>
						<button type="button" class="btn btn-primary@(_loadButtonDisabled ? " disabled" : "")" @onclick="LoadAsync">More...</button>
					</center>
				</td>
			</tr>
		</tfoot>
	</table>
}

@code {

	[Parameter] public string Text { get; set; }

	private IList<string> _passwords = new List<string>();
	private bool _reloadButtonDisabled = true;
	private bool _loadButtonDisabled = true;

	protected override async Task OnInitializedAsync()
	{
		_reloadButtonDisabled = true;
		_loadButtonDisabled = true;
		_passwords = new List<string>(await PasswordService.GetPasswordsAsync());
		_reloadButtonDisabled = false;
		_loadButtonDisabled = false;
	}

	public async Task ReloadAsync()
	{
		_reloadButtonDisabled = true;
		_passwords = await PasswordService.GetPasswordsAsync();
		_reloadButtonDisabled = false;
	}

	public async Task LoadAsync()
	{
		_loadButtonDisabled = true;
		string[] newPasswords = await PasswordService.GetPasswordsAsync();

		foreach(var newPassword in newPasswords)
		{
			_passwords.Add(newPassword);
		}
		_loadButtonDisabled = false;
	}
}
